.fc-header-toolbar {
  display: flex !important;
  flex-direction: row !important;
}

@media (max-width: 767px) {
  .fc-header-toolbar {
    display: block !important;
    flex-direction: row !important;
    margin-top:12px;
  }
}